<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Password Generator</title>

</head>

<body>
    <div class="container">
        <h1>Password Generator</h1>
        <form action="/generate_password" method="post">
            <label for="keyword">Starting Keyword (max: 6)</label>
            <input type="text" name="keyword" maxlength="6"><br>

            <label for="length">Length of your password (min: 8)</label>
            <input type="number" name="length" required min="8"><br>

            <label for="max_extra_alphabets">Max number of alphabets</label>
            <input type="number" name="max_extra_alphabets" min="0" max="9"><br>

            <label for="max_extra_numbers">Max number of extra numbers</label>
            <input type="number" name="max_extra_numbers" min="0" max="9"><br>

            <label for="max_special_chars">Max number of special characters</label>
            <input type="number" name="max_special_chars" min="0" max="9"><br>

            <button type="submit">Generate Password</button>
        </form>

        {% if password %}
        <p class="generatedPass">Generated Password: {{ password }}</p>
        {% endif %}

        {% if error %}
        <p class="errorPass">{{ error }}</p>
        {% endif %}
    </div>
    <footer>
        Copyright © {{current_year}}. All rights reserved.
        <p>
            Designed &amp; Developed by <a target="_blank" href="https://tyagi-achint.github.io/">Achint Tyagi</a>
        </p>
    </footer>
</body>

</html>